.header {

    background-color: #FFC90D;
    padding: 13px 0;
}

.header_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr) 3fr 1fr 1fr;
    align-items: center;
    gap: 40px;
}

.form {
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;

}

.form_input {
    flex: 1;
    border-radius: 20px;
    padding: 10px 0 10px 10px;
    border: 2px solid #2C2D65;
}

.btn {
    position: absolute;
    width: 37px;
    height: 37px;
    border-radius: 100px;
    right: 0;
    top: 0;
    background-color: #2C2D65;
    cursor: pointer;
    border: none;
}

.atendimento {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    gap: 5px;
    text-transform: uppercase;
    font-size: 12px;
    color: #3b3839;
}

.atendimento:hover {
    background-color: white;
    padding: 11px 15px;
}



.login_container > a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 12px;
    color: #3b3839;
}

.login_container:hover{
    background-color: white;
    padding: 11px 1px;
}

.login{
    display: none;
    position: absolute;
    flex-direction: column;
    background-color: white ;
    gap: 10px;
    width: 248px;
    align-items: center;
    padding: 20px;
    z-index: 1000;
    left: 50%;
    transform: translate(-70%);
    top: 41px;
}
.compras {
    display: flex;
    justify-content: center;
}

.login_texto{
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;
    border-top: 1px solid black;
    line-height: 36px;
   
}

.login_texto > a{
    font-size: 1.1rem;
    color: #565557;
    font-weight: 200;
}
.btn_login{
    display: flex;
    width: 100%;
    max-width: 100%;
    background-color: #F4A266;
    color: white;
    justify-content: center;
    padding: 10px 0;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.login_container{
    display: block;
    position: relative;
}
.menu {
    display: none;
}

.atendimento:hover .atendimento_oculto {
    display: flex;
    align-items: flex-start;
}

.login_container:hover .login{
    display: flex;
    flex-direction: column;
}

.atendimento_oculto {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    position: absolute;
    width: 296px;
    left: 100%;
    top: 42px;
    transform: translate(-50%);
    background-color: white;
    padding: 30px;
    z-index: 1000;
}

.fone_contato {
    display: block;
    background-image: url("../../img/sprite_header-se33543fa53.png");
    background-position: 0px -476px;
    width: 32px;
    height: 26px;
}

.waths_oculto {
    display: block;
    background-position: 0px -512px;
    background-image: url("../../img/sprite_header-se33543fa53.png");
    width: 110px;
    height: 25px;
    margin-right: 10px;
}

.email_img {
    display: block;
    background-image: url("../../img/sprite_header-se33543fa53.png");
    background-position: 0px -186px;
    width: 35px;
    height: 22px;
}

.face {
    display: block;
    width: 26px;
    height: 26px;
}

.insta {
    display: block;
    width: 26px;
    height: 26px;
    color:  #2C2C65;
}

.youtube {
    display: block;
    width: 26px;
    height: 26px;
    color:  #2C2C65;
}

.rede_container {
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 30px;
}

.email_texto {
    font-size: .5rem;

}

.number {
    font-size: 1.3rem;
    white-space: nowrap;
}

.contato_oculto {
    display: flex;
    align-items: center;
}

@media(max-width:1000px) {
    .atendimento {
        display: none;
    }

    .login {
        display: none;
    }

    .menu {
        display: flex;
    }

    .header_container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        max-width: 1000px;
        margin: 0 auto;
        padding-left: 20px;
        padding-right: 20px;
        gap: 5px 0px
    }

    .form {
        grid-area: 3 / 4;
        grid-column: span 4;
    }

    .compras {
        justify-content: flex-end;
    }

    .logo {
        display: flex;
        justify-content: center;
    }
}