.departamentos{
    background-color: #2C2D65;
}

.depart_container {
    color: white;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    justify-items: center;
    padding: 18px 0;
}


.menu_depart{
    display: flex;
    gap: 4px;
    align-items: center;
}

.depart_container a{
    color: white;
    font-size: 14px;
    padding: 5px;
}

@media(max-width:1132px){
    .depart_container a{
        font-size: 12px;
    }
}

@media(max-width:1000px){
    .depart_container{
        display: none;
    }
}
